attrs==19.3.0
bsddb3==6.2.7
ConfigArgParse==1.0
importlib-metadata==1.4.0
isodate==0.6.0
more-itertools==8.1.0
packaging==20.0
pathvalidate==2.0.1
pluggy==0.13.1
py==1.8.1
pyparsing==2.4.6
pytest==5.3.4
rdflib==4.2.2
six==1.14.0
wcwidth==0.1.8
zipp==2.0.1
