attrs==19.3.0
ConfigArgParse==1.0
dataclasses-json==0.5.2
google-api-python-client==1.8.0
importlib-metadata==1.4.0
isodate==0.6.0
more-itertools==8.1.0
packaging==20.0
parsimonious==0.8.1
pathvalidate==2.0.1
pluggy==0.13.1
py==1.8.1
pyparsing==2.4.6
pytest==5.3.4
rdflib==4.2.2
six==1.14.0
spacy==2.2.1
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz#egg=en_core_web_sm
stringcase==1.2.0
tqdm==4.46.0
wcwidth==0.1.8
zipp==2.0.1
