# Ignore extracted/ by default, make exceptions with !
extracted/
!/aristo/extracted/COMBINED-KB.tsv.bz2
!/aristo/extracted/Creative Commons - Attribution-ShareAlike 4.0 International - CC BY-SA 4.pdf
!/aristo/extracted/README.txt
!/eat/eat100.xml
!/food_on/extracted/food_on.owl.bz2
!/has_part/extracted/hasPartKB.jsonl.bz2
!/has_part/extracted/README.txt
indexed/
loaded/
!/swow/strength.SWOW-EN.R123.csv.bz2
transformed/
